a {
    color: black;
}

hr {
    border-bottom: 1px solid #a3a3a3;
  }

.btn-trapezoid {
        background: #b20000;
        -webkit-transform: skew(-10deg);
        -moz-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
        -o-transform: skew(-10deg);
        transform: skew(-10deg);
}

.btn-outline-neutro {
    background-color: transparent;
    color: black;
    border: 1px solid #cccccc;
}

.bg-red {
    background-color: #cc0000;
}

.btn-red {
    background-color: #cc0000;
    color: white;
}

.btn-outline-red {
    background-color: transparent;
    color: red;
    border: 1px solid #cccccc;
}

.bg-dark-red {
   background-color: #b20000;
}

.bg-light-gray {
    background-color: #eeeeee;
}

.bg-lighter {
    background-color: #ffffff;
}

.hidden {
    visibility: hidden;
}

.sticky {
    position: fixed;
    top: 0px;
}

.iconsvg {
    font-size: 1px;
    vertical-align: middle;
    display: inline-block;
    background-image: url('https://e00-marca.uecdn.es/assets/v20/img/sprites/sprites-1604494763671.svg');
    background-repeat: no-repeat;
}

.logo-marca {
    background-position: -1px -1015px;
    width: 217px;
    height: 38px;
}

.icon-hashtag {
    background-position: -1px -731px;
    width: 34px;
    height: 34px;
}

.icon-MC-white {
    background-position: -1px -1101px;
    width: 71.76px;
    height: 44px;
}

.icon-MC-red {
    background-position: -1px -1055px;
    width: 71.76px;
    height: 44px;
}

.main-header {
    width: 1200px;
    margin: auto;
}

.main-header-section {
    width: 33%;
    margin: 0px;
    display: inline-block;
    text-align: center;
}

.text-roboto {
    font-family: "robotoBold", Arial, Helvetica;
}

.main-icons-header {
    width: 40px;
}

.flag-mx-a {
    background-position: -1px -629px;
    width: 24px;
    height: 24px;
}

.nav-size {
    flex: 100%;
    max-width: 100%
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.6);
}

.notice img {
    width: 100%;
}

.title-up-side-notice {
    color: #3498d8;
    font-family: "robotoMedium";
    position: relative;
}

.title-main-side-notice {
    font-family: "robotoBold";
    position: relative;
}

.notice-titles {
    max-width: 45%;
    display: inline-block;
}

.main-side-image {
    width: 45%;
    vertical-align: top;
    margin: 0px;
}

.main-image-section {
    max-height: 366px;
    overflow: hidden;
}

.notice {
    position: relative;
}

.info-main-notice {
    left: 0px;
    bottom: 20px;
    color: white;
}

.degradado {
    width: 100%;
    height: 366px;
    background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(../media/img/main.jpg);
}

.z-1 {
    position: absolute;
    z-index: 1;
}

.z-2 {
    position: absolute;
    z-index: 2;
}

.img-tag {
    top: 0px;
    left: 0px;
}


@media screen and  (min-width: 1380px) {
    .nav-size {
        flex: 76%;
        max-width: 76%;
    }
  }

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .main-image-section {
        height: 440px;
        max-height: 382px;
        width: auto;
        overflow: hidden;
    }
}

  @font-face {
    font-family: robotoMedium;
    src: url(https://e00.uecdn.es/fonts/roboto/Roboto-Medium.woff2);
 }

 @font-face {
     font-family: robotoBold;
     src: url(https://e00.uecdn.es/fonts/roboto/Roboto-Bold.woff2);
 }